@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  
  --color-brand-red: #D3544E;
  --color-brand-dark: #1A1A1A;
  --color-brand-light: #F9F8F6;
  --color-brand-beige: #EFECE6;
}
